In [89]:
#installing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")
%matplotlib inline

In [90]:
df=pd.read_csv(r"C:\Users\user\Downloads\googleplaystore.csv")

In [91]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [92]:
df.tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [93]:
df.sample(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
7484,INFAMY RO,FAMILY,4.1,2167,3.7M,"50,000+",Free,0,Everyone,Role Playing,"December 14, 2017",202,4.3 and up
642,Toronto Dating,DATING,NaN,0,14M,100+,Free,0,Mature 17+,Dating,"July 12, 2018",1.0,4.1 and up
9011,VMAX IP Plus Mobile Client,BUSINESS,2.0,9,3.4M,"1,000+",Free,0,Everyone,Business,"June 9, 2017",1.1.12,2.3 and up
3634,Free live weather on screen,WEATHER,4.4,15370,21M,"1,000,000+",Free,0,Everyone,Weather,"August 2, 2018",12.2.6.3660,4.1 and up
1789,Tank Stars,GAME,4.3,174755,98M,"10,000,000+",Free,0,Everyone 10+,Arcade,"July 11, 2018",1.1.1,5.0 and up
2390,Language Therapy: Aphasia,MEDICAL,NaN,10,28M,"1,000+",Paid,$74.99,Everyone,Medical,"June 25, 2018",3.1.1,4.0.3 and up
2823,Makeup Photo Editor: Makeup Camera & Makeup Ed...,PHOTOGRAPHY,4.4,10525,25M,"1,000,000+",Free,0,Everyone,Photography,"July 27, 2018",8.9.9,4.0 and up
2064,Papumba Academy - Fun Learning For Kids,FAMILY,4.4,496,94M,"100,000+",Free,0,Everyone,Education;Education,"July 11, 2018",1.0,4.2 and up
6012,BD Online News,NEWS_AND_MAGAZINES,4.6,30,3.8M,"1,000+",Free,0,Everyone,News & Magazines,"March 20, 2018",1.5,4.0.3 and up
4369,Free WiFi Connect,COMMUNICATION,3.9,167229,9.7M,"10,000,000+",Free,0,Everyone,Communication,"March 31, 2018",8.1,4.1 and up

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [124]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
App,10841,9660,ROBLOX,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category,10841,34,FAMILY,1972,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rating,9367.0,NaN,NaN,NaN,4.193338,0.537431,1.0,4.0,4.3,4.5,19.0
Reviews,10841,6002,0,596,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Size,10841,462,Varies with device,1695,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Installs,10841,22,"1,000,000+",1579,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Type,10840,3,Free,10039,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Price,10841,93,0,10040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Content Rating,10840,6,Everyone,8714,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Genres,10841,120,Tools,842,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Last Updated,10841,1378,"August 3, 2018",326,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Current Ver,10833,2832,Varies with device,1459,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Android Ver,10838,33,4.1 and up,2451,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
df.shape

(10841, 13)

In [126]:
df.dtypes

App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [127]:
df["Reviews"].head()

0       159
1       967
2     87510
3    215644
4       967
Name: Reviews, dtype: object

In [128]:
df["Reviews"].dtypes

dtype('O')

In [129]:
df["Reviews"].shape

(10841,)

In [130]:
df.Reviews.str.isnumeric().sum()

10840

In [131]:
~df["Reviews"].str.isnumeric()

0        False
1        False
2        False
3        False
4        False
         ...
10836    False
10837    False
10838    False
10839    False
10840    False
Name: Reviews, Length: 10841, dtype: bool

In [132]:
df[~df["Reviews"].str.isnumeric()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [133]:
df_copy=df.copy()

In [134]:
df_copy=df_copy.drop(df_copy.index[10472])

In [135]:
df_copy.shape

(10840, 13)

In [137]:
df_copy["Reviews"].dtype

dtype('O')

In [138]:
df_copy["Reviews"]=df_copy["Reviews"].astype("int")

In [139]:
df_copy["Reviews"].dtype

dtype('int32')

In [141]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10840 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  int32
 4   Size            10840 non-null  object
 5   Installs        10840 non-null  object
 6   Type            10839 non-null  object
 7   Price           10840 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), int32(1), object(11)
memory usage: 1.1+ MB

In [143]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10840 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  int32
 4   Size            10840 non-null  object
 5   Installs        10840 non-null  object
 6   Type            10839 non-null  object
 7   Price           10840 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), int32(1), object(11)
memory usage: 1.1+ MB

In [150]:
df_copy["Size"]=df_copy["Size"].str.replace("M","000")

In [151]:
df_copy["Size"]

0                     19000
1                     14000
2                    8.7000
3                     25000
4                    2.8000
                ...
10836                 53000
10837                3.6000
10838                9.5000
10839    Varies with device
10840                 19000
Name: Size, Length: 10840, dtype: object

In [162]:
df_copy["Size"]=df_copy["Size"].str.replace("k"," ")

In [163]:
df_copy["Size"].unique()

array(['19000', '14000', '8.7000', '25000', '2.8000', '5.6000', '29000',
       '33000', '3.1000', '28000', '12000', '20000', '21000', '37000',
       '2.7000', '5.5000', '17000', '39000', '31000', '4.2000', '7.0000',
       '23000', '6.0000', '6.1000', '4.6000', '9.2000', '5.2000', '11000',
       '24000', 'Varies with device', '9.4000', '15000', '10000',
       '1.2000', '26000', '8.0000', '7.9000', '56000', '57000', '35000',
       '54000', '201', '3.6000', '5.7000', '8.6000', '2.4000', '27000',
       '2.5000', '16000', '3.4000', '8.9000', '3.9000', '2.9000', '38000',
       '32000', '5.4000', '18000', '1.1000', '2.2000', '4.5000', '9.8000',
       '52000', '9.0000', '6.7000', '30000', '2.6000', '7.1000', '3.7000',
       '22000', '7.4000', '6.4000', '3.2000', '8.2000', '9.9000',
       '4.9000', '9.5000', '5.0000', '5.9000', '13000', '73000', '6.8000',
       '3.5000', '4.0000', '2.3000', '7.2000', '2.1000', '42000',
       '7.3000', '9.1000', '55000', '23', '6.5000', '1.5000', '7.5000',
       '51000', '41000', '48000', '8.5000', '46000', '8.3000', '4.3000',
       '4.7000', '3.3000', '40000', '7.8000', '8.8000', '6.6000',
       '5.1000', '61000', '66000', '79', '8.4000', '118', '44000', '695',
       '1.6000', '6.2000', '18', '53000', '1.4000', '3.0000', '5.8000',
       '3.8000', '9.6000', '45000', '63000', '49000', '77000', '4.4000',
       '4.8000', '70000', '6.9000', '9.3000', '10.0000', '8.1000',
       '36000', '84000', '97000', '2.0000', '1.9000', '1.8000', '5.3000',
       '47000', '556', '526', '76000', '7.6000', '59000', '9.7000',
       '78000', '72000', '43000', '7.7000', '6.3000', '334', '34000',
       '93000', '65000', '79000', '100000', '58000', '50000', '68000',
       '64000', '67000', '60000', '94000', '232', '99000', '624', '95000',
       '8.5', '41', '292', '11', '80000', '1.7000', '74000', '62000',
       '69000', '75000', '98000', '85000', '82000', '96000', '87000',
       '71000', '86000', '91000', '81000', '92000', '83000', '88000',
       '704', '862', '899', '378', '266', '375', '1.3000', '975', '980',
       '4.1000', '89000', '696', '544', '525', '920', '779', '853', '720',
       '713', '772', '318', '58', '241', '196', '857', '51', '953', '865',
       '251', '930', '540', '313', '746', '203', '26', '314', '239',
       '371', '220', '730', '756', '91', '293', '17', '74', '14', '317',
       '78', '924', '902', '818', '81', '939', '169', '45', '475', '965',
       '90000', '545', '61', '283', '655', '714', '93', '872', '121',
       '322', '1.0000', '976', '172', '238', '549', '206', '954', '444',
       '717', '210', '609', '308', '705', '306', '904', '473', '175',
       '350', '383', '454', '421', '70', '812', '442', '842', '417',
       '412', '459', '478', '335', '782', '721', '430', '429', '192',
       '200', '460', '728', '496', '816', '414', '506', '887', '613',
       '243', '569', '778', '683', '592', '319', '186', '840', '647',
       '191', '373', '437', '598', '716', '585', '982', '222', '219',
       '55', '948', '323', '691', '511', '951', '963', '25', '554', '351',
       '27', '82', '208', '913', '514', '551', '29', '103', '898', '743',
       '116', '153', '209', '353', '499', '173', '597', '809', '122',
       '411', '400', '801', '787', '237', '50', '643', '986', '97', '516',
       '837', '780', '961', '269', '20', '498', '600', '749', '642',
       '881', '72', '656', '601', '221', '228', '108', '940', '176', '33',
       '663', '34', '942', '259', '164', '458', '245', '629', '28', '288',
       '775', '785', '636', '916', '994', '309', '485', '914', '903',
       '608', '500', '54', '562', '847', '957', '688', '811', '270', '48',
       '329', '523', '921', '874', '981', '784', '280', '24', '518',
       '754', '892', '154', '860', '364', '387', '626', '161', '879',
       '39', '970', '170', '141', '160', '144', '143', '190', '376',
       '193', '246', '73', '658', '992', '253', '420', '404', '470',
       '226', '240', '89', '234', '257', '861', '467', '157', '44', '676',
       '67', '552', '885', '1020', '582', '619'], dtype=object)

In [164]:
df_copy["Size"]=df_copy["Size"].str.replace('Varies with device',str(np.nan))

In [165]:
df_copy["Size"].unique()

array(['19000', '14000', '8.7000', '25000', '2.8000', '5.6000', '29000',
       '33000', '3.1000', '28000', '12000', '20000', '21000', '37000',
       '2.7000', '5.5000', '17000', '39000', '31000', '4.2000', '7.0000',
       '23000', '6.0000', '6.1000', '4.6000', '9.2000', '5.2000', '11000',
       '24000', 'nan', '9.4000', '15000', '10000', '1.2000', '26000',
       '8.0000', '7.9000', '56000', '57000', '35000', '54000', '201',
       '3.6000', '5.7000', '8.6000', '2.4000', '27000', '2.5000', '16000',
       '3.4000', '8.9000', '3.9000', '2.9000', '38000', '32000', '5.4000',
       '18000', '1.1000', '2.2000', '4.5000', '9.8000', '52000', '9.0000',
       '6.7000', '30000', '2.6000', '7.1000', '3.7000', '22000', '7.4000',
       '6.4000', '3.2000', '8.2000', '9.9000', '4.9000', '9.5000',
       '5.0000', '5.9000', '13000', '73000', '6.8000', '3.5000', '4.0000',
       '2.3000', '7.2000', '2.1000', '42000', '7.3000', '9.1000', '55000',
       '23', '6.5000', '1.5000', '7.5000', '51000', '41000', '48000',
       '8.5000', '46000', '8.3000', '4.3000', '4.7000', '3.3000', '40000',
       '7.8000', '8.8000', '6.6000', '5.1000', '61000', '66000', '79',
       '8.4000', '118', '44000', '695', '1.6000', '6.2000', '18', '53000',
       '1.4000', '3.0000', '5.8000', '3.8000', '9.6000', '45000', '63000',
       '49000', '77000', '4.4000', '4.8000', '70000', '6.9000', '9.3000',
       '10.0000', '8.1000', '36000', '84000', '97000', '2.0000', '1.9000',
       '1.8000', '5.3000', '47000', '556', '526', '76000', '7.6000',
       '59000', '9.7000', '78000', '72000', '43000', '7.7000', '6.3000',
       '334', '34000', '93000', '65000', '79000', '100000', '58000',
       '50000', '68000', '64000', '67000', '60000', '94000', '232',
       '99000', '624', '95000', '8.5', '41', '292', '11', '80000',
       '1.7000', '74000', '62000', '69000', '75000', '98000', '85000',
       '82000', '96000', '87000', '71000', '86000', '91000', '81000',
       '92000', '83000', '88000', '704', '862', '899', '378', '266',
       '375', '1.3000', '975', '980', '4.1000', '89000', '696', '544',
       '525', '920', '779', '853', '720', '713', '772', '318', '58',
       '241', '196', '857', '51', '953', '865', '251', '930', '540',
       '313', '746', '203', '26', '314', '239', '371', '220', '730',
       '756', '91', '293', '17', '74', '14', '317', '78', '924', '902',
       '818', '81', '939', '169', '45', '475', '965', '90000', '545',
       '61', '283', '655', '714', '93', '872', '121', '322', '1.0000',
       '976', '172', '238', '549', '206', '954', '444', '717', '210',
       '609', '308', '705', '306', '904', '473', '175', '350', '383',
       '454', '421', '70', '812', '442', '842', '417', '412', '459',
       '478', '335', '782', '721', '430', '429', '192', '200', '460',
       '728', '496', '816', '414', '506', '887', '613', '243', '569',
       '778', '683', '592', '319', '186', '840', '647', '191', '373',
       '437', '598', '716', '585', '982', '222', '219', '55', '948',
       '323', '691', '511', '951', '963', '25', '554', '351', '27', '82',
       '208', '913', '514', '551', '29', '103', '898', '743', '116',
       '153', '209', '353', '499', '173', '597', '809', '122', '411',
       '400', '801', '787', '237', '50', '643', '986', '97', '516', '837',
       '780', '961', '269', '20', '498', '600', '749', '642', '881', '72',
       '656', '601', '221', '228', '108', '940', '176', '33', '663', '34',
       '942', '259', '164', '458', '245', '629', '28', '288', '775',
       '785', '636', '916', '994', '309', '485', '914', '903', '608',
       '500', '54', '562', '847', '957', '688', '811', '270', '48', '329',
       '523', '921', '874', '981', '784', '280', '24', '518', '754',
       '892', '154', '860', '364', '387', '626', '161', '879', '39',
       '970', '170', '141', '160', '144', '143', '190', '376', '193',
       '246', '73', '658', '992', '253', '420', '404', '470', '226',
       '240', '89', '234', '257', '861', '467', '157', '44', '676', '67',
       '552', '885', '1020', '582', '619'], dtype=object)

In [167]:
df_copy["Size"]=df_copy["Size"].astype("float")

In [169]:
df_copy["Size"].dtype

dtype('float64')

In [173]:
df_copy["Size"].isnull().sum()

1695

In [223]:
for i in df_copy['Size']:
    if i < 10:
        df_copy['Size']=df_copy['Size'].replace(i,i*1000)

In [224]:
df_copy["Size"].unique()

array([1.90e-11, 1.40e-11, 8.70e-15, 2.50e-11, 2.80e-11, 5.60e-15,
       2.90e-11, 3.30e-11, 3.10e-15, 1.20e-11, 2.00e-11, 2.10e-11,
       3.70e-11, 2.70e-11, 5.50e-15, 1.70e-11, 3.90e-11, 3.10e-11,
       4.20e-11, 7.00e-15, 2.30e-11, 6.00e-11, 6.10e-15, 4.60e-11,
       9.20e-11, 5.20e-15, 1.10e-11, 2.40e-11,      nan, 9.40e-11,
       1.50e-11, 1.00e-11, 1.20e-15, 2.60e-11, 8.00e-15, 7.90e-15,
       5.60e-11, 5.70e-11, 3.50e-11, 5.40e-11, 2.01e-13, 3.60e-15,
       5.70e-15, 8.60e-11, 2.50e-15, 1.60e-11, 3.40e-15, 8.90e-15,
       3.90e-15, 2.90e-15, 3.80e-11, 3.20e-11, 1.80e-11, 1.10e-15,
       2.20e-11, 4.50e-15, 9.80e-11, 5.20e-11, 9.00e-15, 6.70e-15,
       3.00e-11, 2.60e-15, 7.10e-15, 3.70e-15, 7.40e-15, 6.40e-15,
       3.20e-15, 8.20e-15, 9.90e-15, 4.90e-15, 9.50e-15, 5.00e-11,
       5.90e-15, 1.30e-11, 7.30e-11, 6.80e-15, 4.00e-11, 2.30e-15,
       7.20e-11, 9.10e-15, 5.50e-11, 6.50e-15, 1.50e-15, 7.50e-15,
       5.10e-11, 4.10e-11, 4.80e-11, 8.50e-15, 8.30e-15, 4.30e-11,
       4.70e-13, 3.30e-15, 7.80e-11, 8.80e-15, 6.60e-15, 5.10e-15,
       6.10e-11, 6.60e-11, 7.90e-11, 8.40e-11, 1.18e-13, 4.40e-11,
       6.95e-13, 6.20e-15, 5.30e-11, 1.40e-15, 3.00e-15, 5.80e-15,
       3.80e-15, 9.60e-15, 4.50e-11, 6.30e-11, 4.90e-11, 7.70e-11,
       4.40e-15, 4.80e-15, 7.00e-11, 6.90e-15, 9.30e-11, 8.10e-15,
       3.60e-11, 9.70e-11, 1.80e-15, 5.30e-15, 4.70e-11, 5.56e-13,
       5.26e-13, 7.60e-11, 7.60e-15, 5.90e-11, 7.70e-15, 6.30e-15,
       3.34e-13, 3.40e-11, 6.50e-11, 1.00e-10, 5.80e-11, 6.80e-11,
       6.40e-11, 6.70e-11, 2.32e-13, 9.90e-11, 6.24e-13, 9.50e-11,
       2.92e-13, 8.00e-11, 7.40e-11, 6.20e-11, 6.90e-11, 7.50e-11,
       8.50e-11, 8.20e-11, 9.60e-11, 8.70e-11, 7.10e-11, 9.10e-11,
       8.10e-11, 8.30e-11, 8.80e-11, 7.04e-13, 8.62e-13, 8.99e-13,
       3.78e-13, 2.66e-13, 3.75e-13, 1.30e-15, 9.75e-13, 4.10e-15,
       8.90e-11, 6.96e-13, 5.44e-13, 5.25e-13, 7.79e-13, 8.53e-13,
       7.13e-13, 7.72e-13, 3.18e-13, 2.41e-13, 1.96e-13, 8.57e-13,
       9.53e-13, 8.65e-13, 2.51e-13, 3.13e-13, 7.46e-13, 2.03e-13,
       3.14e-13, 2.39e-13, 3.71e-13, 7.56e-13, 2.93e-13, 3.17e-13,
       9.24e-13, 9.02e-13, 8.18e-13, 9.39e-13, 1.69e-13, 4.75e-13,
       9.65e-13, 9.00e-11, 5.45e-13, 2.83e-13, 6.55e-13, 7.14e-13,
       8.72e-13, 1.21e-13, 3.22e-13, 1.00e-15, 9.76e-13, 1.72e-13,
       2.38e-13, 5.49e-13, 2.06e-13, 9.54e-13, 4.44e-13, 7.17e-13,
       6.09e-13, 3.08e-13, 7.05e-13, 3.06e-13, 9.04e-13, 4.73e-13,
       1.75e-13, 3.83e-13, 4.54e-13, 4.21e-13, 8.12e-13, 4.42e-13,
       8.42e-13, 4.17e-13, 4.12e-13, 4.59e-13, 4.78e-13, 3.35e-13,
       7.82e-13, 7.21e-13, 4.29e-13, 1.92e-13, 7.28e-13, 4.96e-13,
       8.16e-13, 4.14e-13, 5.06e-13, 8.87e-13, 6.13e-13, 2.43e-13,
       5.69e-13, 7.78e-13, 6.83e-13, 5.92e-13, 3.19e-13, 1.86e-13,
       6.47e-13, 1.91e-13, 3.73e-13, 4.37e-13, 5.98e-13, 7.16e-13,
       5.85e-13, 9.82e-13, 2.22e-13, 2.19e-13, 9.48e-13, 3.23e-13,
       6.91e-13, 5.11e-13, 9.51e-13, 9.63e-13, 5.54e-13, 3.51e-13,
       2.08e-13, 9.13e-13, 5.14e-13, 5.51e-13, 1.03e-13, 8.98e-13,
       7.43e-13, 1.16e-13, 1.53e-13, 2.09e-13, 3.53e-13, 4.99e-13,
       1.73e-13, 5.97e-13, 8.09e-13, 1.22e-13, 4.11e-13, 8.01e-13,
       7.87e-13, 2.37e-13, 6.43e-13, 9.86e-13, 5.16e-13, 8.37e-13,
       9.61e-13, 2.69e-13, 4.98e-13, 7.49e-13, 6.42e-13, 8.81e-13,
       6.56e-13, 6.01e-13, 2.21e-13, 2.28e-13, 1.08e-13, 1.76e-13,
       6.63e-13, 9.42e-13, 2.59e-13, 1.64e-13, 4.58e-13, 2.45e-13,
       6.29e-13, 2.88e-13, 7.75e-13, 7.85e-13, 6.36e-13, 9.16e-13,
       9.94e-13, 3.09e-13, 4.85e-13, 9.14e-13, 9.03e-13, 6.08e-13,
       5.62e-13, 8.47e-13, 9.57e-13, 6.88e-13, 8.11e-13, 3.29e-13,
       5.23e-13, 9.21e-13, 8.74e-13, 9.81e-13, 7.84e-13, 5.18e-13,
       7.54e-13, 8.92e-13, 1.54e-13, 3.64e-13, 3.87e-13, 6.26e-13,
       1.61e-13, 8.79e-13, 1.41e-13, 1.44e-13, 1.43e-13, 3.76e-13,
       1.93e-13, 2.46e-13, 6.58e-13, 9.92e-13, 2.53e-13, 4.04e-13,
       2.26e-13, 8.90e-14, 2.34e-13, 2.57e-13, 8.61e-13, 4.67e-13,
       1.57e-13, 6.76e-13, 6.70e-14, 5.52e-13, 8.85e-13, 1.02e-12,
       5.82e-13, 6.19e-13])

In [231]:
df_copy["Size"].head()

0    1.900000e-17
1    1.400000e-17
2    8.700000e-21
3    2.500000e-17
4    2.800000e-17
Name: Size, dtype: float64

In [232]:
df_copy["Size"]=df_copy["Size"]/1000

In [233]:
df_copy["Size"].head()

0    1.900000e-20
1    1.400000e-20
2    8.700000e-24
3    2.500000e-20
4    2.800000e-20
Name: Size, dtype: float64

In [234]:
df_copy["Size"].unique()

array([1.90e-20, 1.40e-20, 8.70e-24, 2.50e-20, 2.80e-20, 5.60e-24,
       2.90e-20, 3.30e-20, 3.10e-24, 1.20e-20, 2.00e-20, 2.10e-20,
       3.70e-20, 2.70e-20, 5.50e-24, 1.70e-20, 3.90e-20, 3.10e-20,
       4.20e-20, 7.00e-24, 2.30e-20, 6.00e-20, 6.10e-24, 4.60e-20,
       9.20e-20, 5.20e-24, 1.10e-20, 2.40e-20,      nan, 9.40e-20,
       1.50e-20, 1.00e-20, 1.20e-24, 2.60e-20, 8.00e-24, 7.90e-24,
       5.60e-20, 5.70e-20, 3.50e-20, 5.40e-20, 2.01e-22, 3.60e-24,
       5.70e-24, 8.60e-20, 2.50e-24, 1.60e-20, 3.40e-24, 8.90e-24,
       3.90e-24, 2.90e-24, 3.80e-20, 3.20e-20, 1.80e-20, 1.10e-24,
       2.20e-20, 4.50e-24, 9.80e-20, 5.20e-20, 9.00e-24, 6.70e-24,
       3.00e-20, 2.60e-24, 7.10e-24, 3.70e-24, 7.40e-24, 6.40e-24,
       3.20e-24, 8.20e-24, 9.90e-24, 4.90e-24, 9.50e-24, 5.00e-20,
       5.90e-24, 1.30e-20, 7.30e-20, 6.80e-24, 4.00e-20, 2.30e-24,
       7.20e-20, 9.10e-24, 5.50e-20, 6.50e-24, 1.50e-24, 7.50e-24,
       5.10e-20, 4.10e-20, 4.80e-20, 8.50e-24, 8.30e-24, 4.30e-20,
       4.70e-22, 3.30e-24, 7.80e-20, 8.80e-24, 6.60e-24, 5.10e-24,
       6.10e-20, 6.60e-20, 7.90e-20, 8.40e-20, 1.18e-22, 4.40e-20,
       6.95e-22, 6.20e-24, 5.30e-20, 1.40e-24, 3.00e-24, 5.80e-24,
       3.80e-24, 9.60e-24, 4.50e-20, 6.30e-20, 4.90e-20, 7.70e-20,
       4.40e-24, 4.80e-24, 7.00e-20, 6.90e-24, 9.30e-20, 8.10e-24,
       3.60e-20, 9.70e-20, 1.80e-24, 5.30e-24, 4.70e-20, 5.56e-22,
       5.26e-22, 7.60e-20, 7.60e-24, 5.90e-20, 7.70e-24, 6.30e-24,
       3.34e-22, 3.40e-20, 6.50e-20, 1.00e-19, 5.80e-20, 6.80e-20,
       6.40e-20, 6.70e-20, 2.32e-22, 9.90e-20, 6.24e-22, 9.50e-20,
       2.92e-22, 8.00e-20, 7.40e-20, 6.20e-20, 6.90e-20, 7.50e-20,
       8.50e-20, 8.20e-20, 9.60e-20, 8.70e-20, 7.10e-20, 9.10e-20,
       8.10e-20, 8.30e-20, 8.80e-20, 7.04e-22, 8.62e-22, 8.99e-22,
       3.78e-22, 2.66e-22, 3.75e-22, 1.30e-24, 9.75e-22, 4.10e-24,
       8.90e-20, 6.96e-22, 5.44e-22, 5.25e-22, 7.79e-22, 8.53e-22,
       7.13e-22, 7.72e-22, 3.18e-22, 2.41e-22, 1.96e-22, 8.57e-22,
       9.53e-22, 8.65e-22, 2.51e-22, 3.13e-22, 7.46e-22, 2.03e-22,
       3.14e-22, 2.39e-22, 3.71e-22, 7.56e-22, 2.93e-22, 3.17e-22,
       9.24e-22, 9.02e-22, 8.18e-22, 9.39e-22, 1.69e-22, 4.75e-22,
       9.65e-22, 9.00e-20, 5.45e-22, 2.83e-22, 6.55e-22, 7.14e-22,
       8.72e-22, 1.21e-22, 3.22e-22, 1.00e-24, 9.76e-22, 1.72e-22,
       2.38e-22, 5.49e-22, 2.06e-22, 9.54e-22, 4.44e-22, 7.17e-22,
       6.09e-22, 3.08e-22, 7.05e-22, 3.06e-22, 9.04e-22, 4.73e-22,
       1.75e-22, 3.83e-22, 4.54e-22, 4.21e-22, 8.12e-22, 4.42e-22,
       8.42e-22, 4.17e-22, 4.12e-22, 4.59e-22, 4.78e-22, 3.35e-22,
       7.82e-22, 7.21e-22, 4.29e-22, 1.92e-22, 7.28e-22, 4.96e-22,
       8.16e-22, 4.14e-22, 5.06e-22, 8.87e-22, 6.13e-22, 2.43e-22,
       5.69e-22, 7.78e-22, 6.83e-22, 5.92e-22, 3.19e-22, 1.86e-22,
       6.47e-22, 1.91e-22, 3.73e-22, 4.37e-22, 5.98e-22, 7.16e-22,
       5.85e-22, 9.82e-22, 2.22e-22, 2.19e-22, 9.48e-22, 3.23e-22,
       6.91e-22, 5.11e-22, 9.51e-22, 9.63e-22, 5.54e-22, 3.51e-22,
       2.08e-22, 9.13e-22, 5.14e-22, 5.51e-22, 1.03e-22, 8.98e-22,
       7.43e-22, 1.16e-22, 1.53e-22, 2.09e-22, 3.53e-22, 4.99e-22,
       1.73e-22, 5.97e-22, 8.09e-22, 1.22e-22, 4.11e-22, 8.01e-22,
       7.87e-22, 2.37e-22, 6.43e-22, 9.86e-22, 5.16e-22, 8.37e-22,
       9.61e-22, 2.69e-22, 4.98e-22, 7.49e-22, 6.42e-22, 8.81e-22,
       6.56e-22, 6.01e-22, 2.21e-22, 2.28e-22, 1.08e-22, 1.76e-22,
       6.63e-22, 9.42e-22, 2.59e-22, 1.64e-22, 4.58e-22, 2.45e-22,
       6.29e-22, 2.88e-22, 7.75e-22, 7.85e-22, 6.36e-22, 9.16e-22,
       9.94e-22, 3.09e-22, 4.85e-22, 9.14e-22, 9.03e-22, 6.08e-22,
       5.62e-22, 8.47e-22, 9.57e-22, 6.88e-22, 8.11e-22, 3.29e-22,
       5.23e-22, 9.21e-22, 8.74e-22, 9.81e-22, 7.84e-22, 5.18e-22,
       7.54e-22, 8.92e-22, 1.54e-22, 3.64e-22, 3.87e-22, 6.26e-22,
       1.61e-22, 8.79e-22, 1.41e-22, 1.44e-22, 1.43e-22, 3.76e-22,
       1.93e-22, 2.46e-22, 6.58e-22, 9.92e-22, 2.53e-22, 4.04e-22,
       2.26e-22, 8.90e-23, 2.34e-22, 2.57e-22, 8.61e-22, 4.67e-22,
       1.57e-22, 6.76e-22, 6.70e-23, 5.52e-22, 8.85e-22, 1.02e-21,
       5.82e-22, 6.19e-22])

In [236]:
df_copy.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [237]:
df_copy["Installs"]

0            10,000+
1           500,000+
2         5,000,000+
3        50,000,000+
4           100,000+
            ...
10836         5,000+
10837           100+
10838         1,000+
10839         1,000+
10840    10,000,000+
Name: Installs, Length: 10840, dtype: object

In [238]:
df_copy["Installs"].dtypes

dtype('O')

In [239]:
df_copy["Installs"].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0'], dtype=object)

In [240]:
df_copy["Price"]

0        0
1        0
2        0
3        0
4        0
        ..
10836    0
10837    0
10838    0
10839    0
10840    0
Name: Price, Length: 10840, dtype: object

In [241]:
df_copy["Price"].dtype

dtype('O')

In [243]:
df_copy["Price"].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', '$1.20', '$1.04'], dtype=object)

In [254]:
chars_to_remove=["+","$",","]
cols_to_clean=["Installs","Price"]
for item in chars_to_remove:
    for col in cols_to_clean:
        df_copy[col]=df_copy[col].str.replace(item,"")

In [258]:
df_copy["Installs"].unique()

array(['10 000 ', '500 000 ', '5 000 000 ', '50 000 000 ', '100 000 ',
       '50 000 ', '1 000 000 ', '10 000 000 ', '5 000 ', '100 000 000 ',
       '1 000 000 000 ', '1 000 ', '500 000 000 ', '50 ', '100 ', '500 ',
       '10 ', '1 ', '5 ', '0 ', '0'], dtype=object)

In [256]:
df_copy["Price"].unique()

array(['0', ' 4.99', ' 3.99', ' 6.99', ' 1.49', ' 2.99', ' 7.99', ' 5.99',
       ' 3.49', ' 1.99', ' 9.99', ' 7.49', ' 0.99', ' 9.00', ' 5.49',
       ' 10.00', ' 24.99', ' 11.99', ' 79.99', ' 16.99', ' 14.99',
       ' 1.00', ' 29.99', ' 12.99', ' 2.49', ' 10.99', ' 1.50', ' 19.99',
       ' 15.99', ' 33.99', ' 74.99', ' 39.99', ' 3.95', ' 4.49', ' 1.70',
       ' 8.99', ' 2.00', ' 3.88', ' 25.99', ' 399.99', ' 17.99',
       ' 400.00', ' 3.02', ' 1.76', ' 4.84', ' 4.77', ' 1.61', ' 2.50',
       ' 1.59', ' 6.49', ' 1.29', ' 5.00', ' 13.99', ' 299.99', ' 379.99',
       ' 37.99', ' 18.99', ' 389.99', ' 19.90', ' 8.49', ' 1.75',
       ' 14.00', ' 4.85', ' 46.99', ' 109.99', ' 154.99', ' 3.08',
       ' 2.59', ' 4.80', ' 1.96', ' 19.40', ' 3.90', ' 4.59', ' 15.46',
       ' 3.04', ' 4.29', ' 2.60', ' 3.28', ' 4.60', ' 28.99', ' 2.95',
       ' 2.90', ' 1.97', ' 200.00', ' 89.99', ' 2.56', ' 30.99', ' 3.61',
       ' 394.99', ' 1.26', ' 1.20', ' 1.04'], dtype=object)

In [262]:
df["Last Updated"]

0         January 7, 2018
1        January 15, 2018
2          August 1, 2018
3            June 8, 2018
4           June 20, 2018
               ...
10836       July 25, 2017
10837        July 6, 2018
10838    January 20, 2017
10839    January 19, 2015
10840       July 25, 2018
Name: Last Updated, Length: 10841, dtype: object

In [265]:
df_copy["Last Updated"].dtypes

dtype('O')

In [269]:
df_copy["Last Updated"]=pd.to_datetime(df_copy["Last Updated"])

In [270]:
df_copy["Last Updated"]

0       2018-01-07
1       2018-01-15
2       2018-08-01
3       2018-06-08
4       2018-06-20
           ...
10836   2017-07-25
10837   2018-07-06
10838   2017-01-20
10839   2015-01-19
10840   2018-07-25
Name: Last Updated, Length: 10840, dtype: datetime64[ns]

In [271]:
df_copy.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,1.900000e-20,10 000,Free,0,Everyone,Art & Design,2018-01-07,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,1.400000e-20,500 000,Free,0,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.700000e-24,5 000 000,Free,0,Everyone,Art & Design,2018-08-01,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,2.500000e-20,50 000 000,Free,0,Teen,Art & Design,2018-06-08,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.800000e-20,100 000,Free,0,Everyone,Art & Design;Creativity,2018-06-20,1.1,4.4 and up

In [272]:
df_copy['day']=df_copy["Last Updated"].dt.day

In [274]:
df_copy['month']=df_copy["Last Updated"].dt.month

In [275]:
df_copy['year']=df_copy["Last Updated"].dt.year

In [276]:
df_copy.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,day,month,year
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,1.900000e-20,10 000,Free,0,Everyone,Art & Design,2018-01-07,1.0.0,4.0.3 and up,7,1,2018
1,Coloring book moana,ART_AND_DESIGN,3.9,967,1.400000e-20,500 000,Free,0,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up,15,1,2018
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.700000e-24,5 000 000,Free,0,Everyone,Art & Design,2018-08-01,1.2.4,4.0.3 and up,1,8,2018
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,2.500000e-20,50 000 000,Free,0,Teen,Art & Design,2018-06-08,Varies with device,4.2 and up,8,6,2018
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.800000e-20,100 000,Free,0,Everyone,Art & Design;Creativity,2018-06-20,1.1,4.4 and up,20,6,2018

In [277]:
df_copy.to_csv("google_cleaned_csv",index=False)